/* Fonte externa */
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
/* Seletor universal para margin */
* {
    margin: 0;
}
/* Posição da imagem do header */
header {
    height: 20vh;
    background-image: url(../imgs/headerback.jpg);
}
/* Posição do logo */
.logo{
    width: 18vh;
}
.logo:hover {
    box-shadow: #ff4500 0vh 0vh 5vh 1vh;
    /* transition: 0.7s; */
    transition: 0.5s;
}
/* Poisição e estilo do menu do header */
.menus {
    float: right;
    padding: 2vh;
    text-decoration: none;
    font: 2.4vh 'Staatliches', cursive;
    color: #ff4500;
}
.menus:hover {
    color: #41A425;
}
/* Posição dos icones whats e instagram */
.icones {
    float: right;
    padding-right: 2vh;
    width: 6vh;
}
.icones:hover{
    margin-top: 0.5vh;
}
/* Configurações gerais do main */
main {
    padding: 2vh;
    min-height: 66vh;
    text-align: center;
}
/* Posição e estilo da descrição dos produtos */
.descricao{
    display: inline-block;
    text-decoration: none;
    font: 2.4vh 'Staatliches', cursive;
    color: #000000;
}
.descricao:hover {
    color: #376fdf93;
    transition: 0.5s;
}
/* Posição das imagens dos produtos */
.produtos{
    display: block;
    margin: 2vh;
    width: 18vh;
}
.produtos:hover {
    box-shadow: #376fdf93 0vh 0vh 3vh 0vh;
    transition: box-shadow, 0.5s;
}
main h3 {
    font-family: 'Staatliches', cursive;
    color: #ff4500;
}
main p {
    font-family: 'Staatliches', cursive;
    color: #ff4500;
}
main form {
    display: inline-block;
    padding: 2vh;
    box-shadow: #00000075 1vh 1vh 2vh 0.25vh;
    border-radius: 2vh;
    font: 2.4vh 'Staatliches', cursive;
    color: #ff4500;
}
input:focus {
    background-color: #41a42548;
    transition: 1s;
}
textarea:focus {
    background-color: #41a42548;
    transition: 1s;
}
#botao {
    font: 2.4vh 'Staatliches', cursive;
    background-color: #ff4500;
    color: #ffffff;
}
#botao:hover {
    background-color: #41A425;
}
/* Posição e estilo da imagem do footer */
footer {
    height: 10vh;
    background-image: url(../imgs/footerback.jpg);
    text-align: center;
}
/* Posição e estilo do menu do footer */
.informacoes {
    display: inline-block;
    margin: auto 3vw;
    padding: 0.2vh;
    text-decoration: none;
    font: 2vh 'Staatliches', cursive;
    color: #ff4500;
}
.informacoes:hover {
    color: #41A425;
}
/* #41A425 verde */
/* #376FDF azul */
/* #FF4425 laranja */